{
	ors {
		services: {
			shortenlink: {
				enabled: true,
				user_name: timmccauley,
				user_password: none,
				api_key: R_87a5a597341f45829e6a1d1719269f71,
				attribution: "openrouteservice.org, OpenStreetMap contributors"
			}
			isochrones: {
				enabled: true,
				maximum_range_distance: 100000,
				maixmum_range_time: 3600,
				maximum_intervals: 10,
				maximum_locations: 2,
				allow_compute_area: true,
				attribution: "openrouteservice.org, OpenStreetMap contributors"
			}
			geocoding: {
				enabled: true,
				#geocoder_name: photon,
				#geocoding_url: "http://129.206.7.103:2322/api",
				#reverse_geocoding_url: "http://129.206.7.103:2322/reverse",
                                geocoder_name: pelias,
				geocoding_url: "http://129.206.7.154:3100/v1/search",
				reverse_geocoding_url: "http://129.206.7.154:3100/v1/reverse",
				user_agent: openrouteservice.org,
				attribution: "openrouteservice.org, OpenStreetMap contributors"
			}
			locations: {
				enabled: true,
				provider_name: postgresql,
				provider_parameters: {
				    # *********** connection settings ***********
				    host: "129.206.7.206",
				    port: 5432,
				    db_name: "gis",
				    user: "admin", 
				    password : "gZwe5Nj", 
                                    table_name : "planet_osm_pois"
 			        },				

				provider_parameters2: {
				    # *********** connection settings ***********
				    host: "129.206.7.158",
				    port: 3306,
				    db_name: "OSM",
				    user: "root", 
				    #password : "", 
                                    categories_query: "SELECT category, COUNT(category) FROM planet_osm_pois_test !where_clause! GROUP BY category", 
                                    locations_query: "SELECT osm_id, category,  name, opening_hours, phone, website, wheelchair, smoking, address, GEOGRAPHY_LONGITUDE(!geometry_column!) AS lon, GEOGRAPHY_LATITUDE(!geometry_column!) AS lat FROM planet_osm_pois_test",
   			            geometry_column: "geom"
                                    longitude_column: "lon",
				    latitude_column: "lat",
 			        },				
				response_limit: 1000,
                                # maximum allowed length of a linestring, measured in meters
                                maximum_feature_length: 10000000,
                                # maximum allowed area of a polygon, measured in square meters
                                maximum_feature_area: -1, 
                                # maximum allowed search radius 
                                maximum_search_radius: 1000,
				attribution: "openrouteservice.org, OpenStreetMap contributors"
			}
			routing: {
				enabled: true,
				mode: "normal",
				sources: ["D:/Projects/ORS/OSM-Files/rheinland-pfalz-latest.osm.pbf"],
				init_threads: 2,
				maximum_distance_with_dynamic_weights: 200000,
				attribution: "openrouteservice.org, OpenStreetMap contributors, tmc - BASt",

				profiles: {
					active: ["vehicles", "vehicles-ch", "bike", "bike2", "pedestrian", "wheelchair"],

					 # graph_path must be explicitly defined in profile settings #
					 # if graphs_root_path parameter is not defined in default_params #
					default_params: {
						encoder_flags_size: 8, 
						graphs_root_path: "D:/Temp/GHGraphs", 
						elevation_provider: cgiar,
						elevation_cache_path: "D:/Temp/cgiar_provider",
 	          		                instructions: true
					},

					profile-vehicles: {
						profiles: "driving-car,driving-hgv,driving-motorcycle",
						 # graph_path: "CAR",	 #
						parameters: {
						    encoder_flags_size: 8,
						    encoder_options : "turnCosts=true|blockFords=false,turnCosts=true|blockFords=false,turnCosts=true|blockFords=false",
                            maximum_distance: 100000,
                            elevation: true, 
						    ext_storages: {
                                WayCategory: {
                                },								
                                HeavyVehicle: {
								    restrictions: true
                                },								
								WaySurfaceType: {
								}
						    }
						    traffic: false
					    }
					}
					profile-vehicles-ch: {
						profiles: "driving-car,driving-hgv",
						parameters: {
						    encoder_flags_size: 4,
						    encoder_options : "",
                            ch_weighting: fastest,
                            elevation: true, 
							ext_storages: {
                                WayCategory: {
                                },								
								WaySurfaceType: {
								},
								HillIndex: {
								}
						    }
						}
					}
					profile-bike: {
						profiles: "cycling-regular, cycling-mountain, cycling-road",
						parameters: {
						    # extent: [5.866240, 15.042050, 47.270210, 55.058140], #
         					encoder_options :"considerElevation=true|turnCosts=true|blockFords=false,considerElevation=true|turnCosts=true|blockFords=false,considerElevation=true|turnCosts=true|blockFords=false", 
  				            elevation: true, 
						    ext_storages: {
                                WayCategory: {
								  
                                },								
								WaySurfaceType: {
								},
								HillIndex: {
								}
						    }
						}
					}
					profile-bike2: {
						profiles: "cycling-safe,cycling-tour, cycling-electric",
						parameters: {
         					encoder_options: "considerElevation=true|turnCosts=true|blockFords=false,considerElevation=true|turnCosts=true|blockFords=false,considerElevation=true|turnCosts=true|blockFords=false", 
					        elevation: true, 
					 	    ext_storages: {
                                WayCategory: {
                                },								
								WaySurfaceType: {
								},
								HillIndex: {
								}
						    }
						}
					}
					profile-pedestrian: {
						profiles: "foot-walking,foot-hiking",
						parameters: {
						    encoder_options: "blockFords=false,blockFords=false",
						    elevation: true, 
                            ext_storages: {
                                GreenIndex_: {
                                    filepath: "/Users/lliu/Research/data/green_routing/csv/green_streets_munich.csv"
                                },
                                WayCategory: {
                                },								
								WaySurfaceType: {
								},
								HillIndex: {
								}
						    } 						
						}
					}
					profile-wheelchair: {
						profiles: "wheelchair",
						parameters: {
                            encoder_flags_size: 4,
						    encoder_options: "blockFords=true",
						    elevation: true, 
                            ext_storages: {
								Wheelchair: {
									},
								WayCategory: {
                                },								
								WaySurfaceType: {
								},
								HillIndex: {
								}
							}
						}
					}
				}

				update: {
					enabled: true,
					time: "5, 10:10:00, 100000",
					source: "D:\\Projects\\ORS\\OSM-Files\\hamburg-latest.osm.pbf",
					extent: "",
					working_directory: "D:\\Temp\\GHWorkingDir"
				}

				traffic: {
					enabled: false,
					source: "type=ftp;server=viznrwftp.gewi.com;user=cacc016;password=4)Zn3450;file=viznrw.xml",
					location_codes_path: "C:\\Users\\Runge\\workspace\\!TMC\\lcl_list\\",
					update_interval: 300000,
					output_directory: "Temp"
				}
			}
		}
		logging: {
			enabled: true,
			level_file: "DEBUG_LOGGING.properties",
			location: "D:/Temp/output/ors.log",
			stdout: true
		}
	}
}