<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>OpenRouteService API</display-name>
	<!-- ROUTING SERVICE -->
	<servlet>
		<servlet-name>routing</servlet-name>
		<servlet-class>heigit.ors.services.routing.RoutingServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>routing</servlet-name>
		<url-pattern>/routes</url-pattern>
	</servlet-mapping>
	
	<!-- GEOCODING SERVICE -->
	<servlet>
	<servlet-name>geocoding</servlet-name>
		<servlet-class>heigit.ors.services.geocoding.GeocodingServiceServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>geocoding</servlet-name>
		<url-pattern>/geocode</url-pattern>
	</servlet-mapping>
	
	<!-- ISOCHRONES SERVICE -->
	<servlet>
		<servlet-name>isochrones</servlet-name>
		<servlet-class>heigit.ors.services.isochrones.IsochronesServiceServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>isochrones</servlet-name>
		<url-pattern>/isochrones</url-pattern>
	</servlet-mapping>
	
    <!-- MATRIX SERVICE -->
	<servlet>
		<servlet-name>matrix</servlet-name>
		<servlet-class>heigit.ors.services.matrix.MatrixServiceServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>matrix</servlet-name>
		<url-pattern>/matrix</url-pattern>
	</servlet-mapping>
	
	<!-- OPTIMIZATION SERVICE -->
	<servlet>
		<servlet-name>optimization</servlet-name>
		<servlet-class>heigit.ors.services.optimization.OptimizationServiceServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>optimization</servlet-name>
		<url-pattern>/optimized_routes</url-pattern>
	</servlet-mapping>
	
	<!-- MAPMATCHING SERVICE -->
	<servlet>
		<servlet-name>matching</servlet-name>
		<servlet-class>heigit.ors.services.mapmatching.MapMatchingServiceServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>matching</servlet-name>
		<url-pattern>/matching</url-pattern>
	</servlet-mapping>
	
	<!-- ShortenLink SERVICE -->
	<servlet>
		<servlet-name>shortenlink</servlet-name>
		<servlet-class>heigit.ors.services.shortenlink.ShortenLinkServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>shortenlink</servlet-name>
		<url-pattern>/shortenlink</url-pattern>
	</servlet-mapping>
		
	<!-- ORS Server Status Servlets -->
	<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>heigit.ors.servlet.http.ServerStatusServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>health</servlet-name>
		<servlet-class>heigit.ors.servlet.http.HealthStatusServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>health</servlet-name>
		<url-pattern>/health</url-pattern>
	</servlet-mapping>

	<!-- FILTERS -->
    <filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CompressionFilter</filter-name> 
		<filter-class>heigit.ors.servlet.filters.CompressionFilter</filter-class> 
	</filter>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
	<filter>
		<filter-name>StatusCodeHandlerFilter</filter-name>
		<filter-class>heigit.ors.servlet.filters.StatusCodeHandlerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StatusCodeHandlerFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
  
    <!-- LISTENERS -->
	<listener>
		<listener-class>heigit.ors.servlet.listeners.LoggingStartupContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>heigit.ors.servlet.listeners.ORSInitContextListener</listener-class>
	</listener>
</web-app>


