<?xml version="1.0" encoding="ASCII"?>
<org.eclipse.recommenders:SnippetRepositoryConfigurations xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:org.eclipse.recommenders="org.eclipse.recommenders.snipmatch.rcp">
  <repos xsi:type="org.eclipse.recommenders:EclipseGitSnippetRepositoryConfiguration" name="Code Recommenders Snippet Repository" description="The Git-based snippet repository provided by the Eclipse Code Recommenders project. It provides sharing capabilities based on Gerrit code review." id="org.eclipse.recommenders.snipmatch.repository" defaultConfiguration="true" url="http://git.eclipse.org/gitroot/recommenders/org.eclipse.recommenders.snipmatch.snippets.git" pushUrl="https://git.eclipse.org/r/recommenders/org.eclipse.recommenders.snipmatch.snippets.git" pushBranchPrefix="refs/for"/>
</org.eclipse.recommenders:SnippetRepositoryConfigurations>
