				provider_parameters2: {
				    # *********** connection settings ***********
				    host: "129.206.7.158",
				    port: 3306,
				    db_name: "OSM",
				    user: "root", 
				    #password : "", 
                                    categories_query: "SELECT category, COUNT(category) FROM planet_osm_pois_test !where_clause! GROUP BY category", 
                                    locations_query: "SELECT osm_id, category,  name, opening_hours, phone, website, wheelchair, smoking, address, GEOGRAPHY_LONGITUDE(!geometry_column!) AS lon, GEOGRAPHY_LATITUDE(!geometry_column!) AS lat FROM planet_osm_pois_test",
   			            geometry_column: "geom"
                                    longitude_column: "lon",
				    latitude_column: "lat",
 			        },				
