{
   ors {
      services: {
         shortenlink: {
	 	user_name: timmccauley,
		user_password: none,
		api_key: R_87a5a597341f45829e6a1d1719269f71,
                attribution : openrouteservice.org
	 }
	 isochrones: {
                enabled: true,
		maximum_range_distance: 100000,
		maixmum_range_time: 3600,
                maximum_intervals: 10,
		maximum_locations: 2,
		allow_compute_area: true,
                attribution : openrouteservice.org
	 }
         geocoding: {
                enabled: true,
		geocoder_name: photon,
		geocoding_url: "http://129.206.7.103:2322/api", 
                reverse_geocoding_url: "http://129.206.7.103:2322/reverse",
                user_agent: openrouteservice.org,
                attribution : openrouteservice.org
	 }
         routing: {
            enabled: true,
            mode: "normal",
            sources: ["D:/Projects/ORS/OSM-Files/karlsruhe-regbez-latest.osm.pbf"],
            config_path: "C:\\Users\\Runge\\Documents\\GitHub\\ORS_backend\\openrouteservice\\configs\\profiles",
            init_threads: 1,
            dynamic_weighting_max_distance: 12000,
            attribution : "tmc - BASt",

            profiles: {
              active: ["car", "car-ch", "bike", "bike2", "foot"],

              profile-car: 
              {
                profiles: "driving-car,driving-hgv",
                config_path: "config_car.properties",
                graph_path: "D:\\Temp\\GHGraphs\\CAR",
                parameters: ["dynamic_weights=true", "traffic=false"]
              }
              profile-car-ch: 
              {
                profiles: "driving-car,driving-hgv",
                config_path: "config_ch.properties",
                graph_path: "D:\\Temp\\GHGraphs\\CH",
                parameters: ["maximum_distance=10000"]
              }
              profile-bike: 
              {
                profiles: "cycling-regular, cycling-mountain, cycling-road",
                config_path: "config_bike.properties",
                graph_path: "D:\\Temp\\GHGraphs\\BIKE",
                parameters: ["dynamic_weights=true", "surface_info=true", "hill_index=true"]
              }
              profile-bike2: 
              {
                profiles: "cycling-safe,cycling-tour, cycling-electric",
                config_path: "config_bike_2.properties",
                graph_path: "D:\\Temp\\GHGraphs\\BIKE-2",
                parameters: ["dynamic_weights=true", "surface_info=true", "hill_index=true"]
              }
              profile-foot: 
              {
                profiles: "foot-walking,foot-hiking,wheelchair",
                config_path: "config_foot_wheelchair.properties",
                graph_path: "D:\\Temp\\GHGraphs\\FOOT-WHEELCHAIR",
                parameters: ["dynamic_weights=true", "surface_info=true", "hill_index=true"]
              }
            }

	    update: {
	      enabled: false,
              time: "4, 09:15:00, 100000",
              source: "D:\\Projects\\ORS\\OSM-Files\\bridges.osm",
              extent: "",
              working_directory: "D:\\Temp\\GHWorkingDir" 
            }

            traffic: {
              enabled: false,
              config_path: "config_car_tmc.properties",   
              source: "type=ftp;server=viznrwftp.gewi.com;user=cacc016;password=4)Zn3450;file=viznrw.xml",
              location_codes_path: "C:\\Users\\Runge\\workspace\\!TMC\\lcl_list\\",
              update_interval: 300000, 
              output_directory: "Temp" 
            }	
	 }
      }
   }
}
