<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>OpenLS OSM</display-name>
	<!-- OPENLS ROUTE SERVICE -->
	<servlet>
		<servlet-name>openls-rs</servlet-name>
		<servlet-class>org.freeopenls.routeservice.RSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>openls-rs</servlet-name>
		<url-pattern>/determineroute</url-pattern>
	</servlet-mapping>
	
	<!-- GEOCODING SERVICE -->
	<servlet>
		<servlet-name>openls-gs</servlet-name>
		<servlet-class>org.freeopenls.locationutilityservice.LUSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>openls-gs</servlet-name>
		<url-pattern>/geocoding</url-pattern>
	</servlet-mapping>
	
	<!-- ACCESSIBILITY ANALYSIS SERVICE -->
	<servlet>
		<servlet-name>aas</servlet-name>
		<servlet-class>org.freeopenls.accessibilityanalyseservice.AASServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>aas</servlet-name>
		<url-pattern>/analyse</url-pattern>
	</servlet-mapping>
    <!-- OPENLS DIRECTORY SERVICE -->
    <servlet>
        <servlet-name>openls-ds</servlet-name>
        <servlet-class>org.freeopenls.directoryservice.DSServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>openls-ds</servlet-name>
        <url-pattern>/directory</url-pattern>
    </servlet-mapping>
	<!-- OPENLS PRESENTATION SERVICE -->
	<servlet>
		<servlet-name>openls-ps</servlet-name>
		<servlet-class>org.freeopenls.presentationservice.PSServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>openls-ps</servlet-name>
		<url-pattern>/getmap</url-pattern>
	</servlet-mapping>
	<!-- Proxy CGI Configuration -->
<!--
 <servlet> 
      <servlet-name>cgi</servlet-name> 
      <servlet-class>org.apache.catalina.servlets.CGIServlet</servlet-class> 
    <init-param> 
      <param-name>debug</param-name> 
      <param-value>0</param-value> 
    </init-param> 
    <init-param> 
      <param-name>cgiPathPrefix</param-name> 
      <param-value>WEB-INF/cgi</param-value> 
    </init-param> 
    <init-param> 
      <param-name>executable</param-name> 
      <param-value>/usr/bin/python2.7</param-value> 
    </init-param> 
    <init-param> 
      <param-name>passShellEnvironment</param-name> 
      <param-value>true</param-value> 
    </init-param> 
    <load-on-startup>5</load-on-startup> 
  </servlet> 

  <servlet-mapping> 
    <servlet-name>cgi</servlet-name> 
    <url-pattern>/cgi-bin/*</url-pattern> 
  </servlet-mapping>
-->
<!--
  <filter>
    <filter-name>MultipleRequestFilter</filter-name>
    <filter-class>org.freeopenls.servlet.filters.MultipleRequestFilter</filter-class>
  </filter>

  <filter-mapping>
	<filter-name>MultipleRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
-->
   <filter>
    <filter-name>PiwikRequestFilter</filter-name>
    <filter-class>org.freeopenls.servlet.filters.PiwikRequestFilter</filter-class>
    <init-param>
      <param-name>SiteID</param-name>
      <param-value>16</param-value>
    </init-param> 
    <init-param>
      <param-name>APIURL</param-name>
      <param-value>http://129.206.74.245:8010</param-value>
    </init-param> 
  </filter>
  
  <filter-mapping>
    <filter-name>PiwikRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
