name: Docker Nightly Image CI
run-name: Build ${{ inputs.branch }} - ${{ inputs.user }}

on:
  schedule:
    - cron: '15 1 * * *'
  workflow_dispatch:
    inputs:
      repository:
        description: 'GitHub repository to create image off.'
        required: true
        default: 'GIScience/openrouteservice'
      branch:
        description: 'GitHub branch to create image off.'
        required: true
        default: 'main'
      tag:
        description: 'Name of the docker tag to create.'
        required: true
        default: 'nightly'
      ignore-24h-commit-check:
        description: 'Build image regardless of last commit date.'
        required: true
        type: boolean
        default: false
      user:
        description: ''
        required: false
        default: 'schedule'

jobs:
  prepare_environment:
    name: Prepare the environment variables
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{ steps.resolve-tag.outputs.tag }}
    steps:
      - name: Resolve Docker tag
        id: resolve-tag
        env:
          TAG_INPUT: ${{ inputs.tag || 'nightly' }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          echo "tag=${DOCKER_USERNAME}/openrouteservice:${TAG_INPUT}" >> $GITHUB_OUTPUT

  check_commits:
    name: Check for new commits
    runs-on: ubuntu-latest
    outputs:
      new_commits: ${{ steps.check.outputs.new_commits }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || 'GIScience/openrouteservice' }}
          ref: ${{ inputs.branch || 'main' }}

      - name: Check for new commits since 24 hours ago
        id: check
        run: |
          LOG_LINES=$(git log --oneline --since '24 hours ago')
          NUM_LINES=$(echo "$LOG_LINES" | grep -c .)
          if [ "$NUM_LINES" -eq "0" ]; then
            NEW_COMMITS="false"
          else
            NEW_COMMITS="true"
          fi
          echo "new_commits=$NEW_COMMITS" >> "$GITHUB_OUTPUT"

  build_and_push:
    name: Build and push nightly image
    needs:
      - prepare_environment
      - check_commits
    runs-on: ubuntu-latest
    if: inputs.ignore-24h-commit-check || needs.check_commits.outputs.new_commits == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || 'GIScience/openrouteservice' }}
          ref: ${{ inputs.branch || 'main' }}

      - name: Set up build environment
        uses: ./.github/actions/setup-build-environment
        with:
          dockerfile: 'Dockerfile'

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
        with:
          context: .
          build-args: MAVEN_OPTS=-Dmaven.repo.local=/root/.m2/repository
          platforms: linux/amd64,linux/arm64/v8
          provenance: false
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ needs.prepare_environment.outputs.docker_tag }}
