name: Docker Nightly Image CI
run-name: Build ${{ inputs.branch }} - ${{ inputs.user }}

on:
  schedule:
    - cron: '15 1 * * *'
  workflow_dispatch:
    inputs:
      repository:
        description: 'GitHub repository to create image off.'
        required: true
        default: 'GIScience/openrouteservice'
      branch:
        description: 'GitHub branch to create image off.'
        required: true
        default: 'main'
      tag:
        description: 'Name of the docker tag to create.'
        required: true
        default: 'nightly'
      ignore-24h-commit-check:
        description: 'Build image regardless of last commit date.'
        required: true
        type: boolean
        default: false
      user:
        description: ''
        required: false
        default: 'schedule'

jobs:
  setup-build-environment:
    runs-on: ubuntu-latest
    outputs:
      new_commits: ${{ steps.check.outputs.NEW_COMMITS }}
      tag: ${{ steps.image-tags.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || 'GIScience/openrouteservice' }}
          ref: ${{ inputs.branch || 'main' }}

      - name: Check for new commits since 24 h ago
        id: check
        run: |
          export LOG_LINES=$(git log --oneline --since '24 hours ago')
          export NUM_LINES=$(echo "$LOG_LINES" | grep -c .)
          if [ "$NUM_LINES" -eq "0" ]; then
            export NEW_COMMITS="false"
          else
            export NEW_COMMITS="true"
          fi
          echo "NEW_COMMITS=$NEW_COMMITS" >> "$GITHUB_OUTPUT"
      - name: Set Docker image tag
        id: image-tags
        run: |
          BASE_TAG=openrouteservice/openrouteservice:"${{ inputs.tag || 'nightly' }}"
          if [ "${{ matrix.image_stage }}" = "slim" ]; then
            IMAGE_TAG="${BASE_TAG}-slim"
          else
            IMAGE_TAG="${BASE_TAG}"
          fi
          echo "tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "Docker image tag: ${IMAGE_TAG}"

  publish_docker_images:
    needs:
      - setup-build-environment
    name: Publish Docker images to DockerHub from GitHub Docker Cache
    runs-on: ubuntu-latest
    if: inputs.ignore-24h-commit-check || needs.setup-build-environment.outputs.new_commits == 'true'
    strategy:
      matrix:
        image_stage: [ slim, publish ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || 'GIScience/openrouteservice' }}
          ref: ${{ inputs.branch || 'main' }}
      - name: Set up build environment
        uses: ./.github/actions/setup-build-environment
        with:
          java_version: 21
          with_docker: true
          with_qemu: true
          with_docker_cache_injection: true
          docker_login: true
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: 'Dockerfile'
      - name: Build and push ${{ matrix.image_stage }} image
        uses: ./.github/actions/build-docker-image
        with:
          dockerfile_path: 'Dockerfile'
          image_stage: ${{ matrix.image_stage }}
          docker_tag: ${{ needs.setup-build-environment.outputs.tag }}
          platform: linux/amd64,linux/arm64/v8
          push_image: true
          cache_from_type: gha
          cache_to_type: gha,mode=max
          output_type: ''

