# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Integration test suite

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - 'ors-api/src/test/java/**'
      - 'ors-api/src/test/resources/**'
      - 'ors-engine/src/test/**'
      - 'ors-report-aggregation/**'
      - '.rpm-packaging/**'
  pull_request:
    branches: [ "main" ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths-ignore:
      - 'docs/**'
      - 'ors-api/src/test/java/**'
      - 'ors-api/src/test/resources/**'
      - 'ors-engine/src/test/**'
      - 'ors-report-aggregation/**'
      - '.rpm-packaging/**'

jobs:
  build_test_scenario_base_image:
    name: Build test scenario builder images
    uses: ./.github/workflows/_reusable_build_docker_images.yml
    with:
      image_stage: ors-test-scenarios-builder
      docker_tag: ors-test-scenarios-builder:latest
      dockerfile_path: 'ors-test-scenarios/src/test/resources/Builder.Dockerfile'
      build_amd64: true
      build_arm64: false

  build_test_scenario_jar_builder_image:
    name: Build test scenario jar builder image
    uses: ./.github/workflows/_reusable_build_docker_images.yml
    with:
      image_stage: ors-test-scenarios-jar-builder
      docker_tag: ors-test-scenarios-jar-builder:latest
      dockerfile_path: 'ors-test-scenarios/src/test/resources/Builder.Dockerfile'
      build_amd64: true
      build_arm64: false

  cache-graph:
    name: Build and cache shared graph for integration tests
    runs-on: ubuntu-latest
    needs: 
      - build_test_scenario_base_image
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up build environment
        uses: ./.github/actions/setup-build-environment
        with:
          with_java: 'true'
          with_docker: 'false'

      - name: Cache the graph
        id: cache_graph
        uses: actions/cache@v4
        with:
          path: |
            ors-test-scenarios/graphs-integrationtests
          key: ${{ runner.os }}-ors-test-scenarios-builder-images-${{ needs.build_test_scenario_base_image.outputs.image_hash_amd64 }}

      - name: Build shared graph
        if: steps.cache_graph.outputs.cache-hit != 'true'
        run: |
          # Build the shared graph
          ./mvnw -pl ors-test-scenarios -Dtest=integrationtests.OneShotGraphBuilderTest\#oneShotGraphBuilder test \
            -Dcontainer.builder.use_prebuild=true \
            -Dcontainer.run.scenario=jar
        env:
          ONE_SHOT_GRAPH_BUILDER: true

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-22.04
    needs:
      - build_test_scenario_base_image
      - build_test_scenario_jar_builder_image
      - cache-graph
    strategy:
      matrix:
        test-scenario: [ "maven", "jar", "war" ]
        test-class:
          - integrationtests.ConfigEnvironmentTest
          - integrationtests.ConfigFileTest
          - integrationtests.ConfigLookupTest
          - integrationtests.GeoToolsTest
          - integrationtests.GraphRepoTest
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up build environment
        uses: ./.github/actions/setup-build-environment
        with:
          dockerfile: 'ors-test-scenarios/src/test/resources/Builder.Dockerfile'

      - name: Restore cached graph
        id: restore-cached-image
        uses: actions/cache/restore@v4
        with:
          path: |
            ors-test-scenarios/graphs-integrationtests
          key: ${{ runner.os }}-ors-test-scenarios-builder-images-${{ needs.build_test_scenario_base_image.outputs.image_hash_amd64 }}
      
      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build_test_scenario_base_image.outputs.artifact_name_amd64 }}
          path: ${{ runner.temp }}/
      - name: Load ors-test-scenarios-base image
        run: |
          docker load -i ${{ runner.temp }}/${{ needs.build_test_scenario_base_image.outputs.artifact_name_amd64 }}
      - name: Build the ${{ matrix.test-scenario }} builder image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          file: ./ors-test-scenarios/src/test/resources/Builder.Dockerfile
          tags: ors-test-scenarios-${{ matrix.test-scenario }}-builder:latest
          target: ors-test-scenarios-${{ matrix.test-scenario }}-builder
          cache-from: type=gha
      - name: Run integration tests
        run: |
          # List the cached images
          docker image ls -a
          # Run only a subset for now
          ./mvnw -pl ors-test-scenarios -Dtest=${{ matrix.test-class }} test \
            -Djunit.jupiter.execution.parallel.config.fixed.parallelism=4 \
            -Dcontainer.run.scenario=${{ matrix.test-scenario }} \
            -Dcontainer.builder.use_prebuild=true
