name: Create latest tag for releases
on:
  release:
    types:
      - released
      - edited
  push:
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+'
    branches:
      - 'main'
      - 'releases/**'
    paths-ignore:
      - '**'

jobs:
  create-latest-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check if this is the latest semver release
        id: check-latest
        uses: ./.github/actions/check-latest-semver

      - name: Create or update latest tag
        if: steps.check-latest.outputs.is-latest == 'true'
        uses: EndBug/latest-tag@7589411ebda7bc8f98deb2dbc37e3dc45828f7d0 # v1.6.2
        with:
          ref: latest
          description: Latest release
