name: Package Java WAR into RPM with JBoss Web Server 5

on:
  release:
    types: [ created ]
    branches: [ releases/v7.2.* ]
  workflow_dispatch:
  pull_request:
    branches: [ releases/v7.2.* ]
  push:
    branches: [ releases/v7.2.* ]
env:
  HEALTH_WAIT_TIME: 200
  RPM_REPO_INIT_WAIT_TIME: 60
  TEST_IMAGE_NAME: 'local/rhel8-jboss-java17-webserver5'
  RPM_REPO_NAME: 'openrouteservice-rpm'
  RPM_TESTING_REPO_NAME: 'openrouteservice-rpm-testing'
  RPM_REPO_TESTING_FOLDER: 'testing'
  RPM_REPO_SNAPSHOTS_FOLDER: 'snapshots'
  RPM_REPO_RELEASES_FOLDER: 'releases'

jobs:
  prepare_docker_images:
    name: Build ${{ matrix.docker_file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker_file: [ dockerfile-ubi8-java17-jws57 ]
    env:
      CONTAINER_NAME: ${{ matrix.docker_file }}
      IMAGE_NAME: local/${{ matrix.docker_file }}:latest

    steps:
      - name: Print Workflow Run ID
        run: |
          echo "Workflow Run ID: ${{ github.run_id }}"

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Checkout
        uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0

      - name: Build Java WAR
        run: mvn clean package -DskipTests

      - name: Get mvn project.version
        run: |
          # Get the project version from the pom.xml file and replace the dashes with dots
          projectVersion=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-/./g')
          echo "ORS_VERSION=$projectVersion" >> "$GITHUB_ENV"

      - name: Extract branch name and set the jobs environment variables
        id: job_environment_variables
        shell: bash
        run: |
          # Define the local urls
          RPM_REPO_TESTING_URL='${{ secrets.NEXUS_URL }}/repository/${{ env.RPM_TESTING_REPO_NAME }}/${{ env.RPM_REPO_TESTING_FOLDER }}'
          RPM_REPO_RELEASES_URL='${{ secrets.NEXUS_URL }}/repository/${{ env.RPM_REPO_NAME }}/${{ env.RPM_REPO_RELEASES_FOLDER }}'
          RPM_REPO_SNAPSHOTS_URL='${{ secrets.NEXUS_URL }}/repository/${{ env.RPM_REPO_NAME }}/${{ env.RPM_REPO_SNAPSHOTS_FOLDER }}'
          
          # Get the branch name
          branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          
          # Replace all slashes and underscores with dashes
          branch=${branch//[\/_]/-}
          
          # Remove all characters except underscores and alphanumeric characters 
          branch=${branch//[^a-zA-Z0-9_-]/}
          
          # Add the github run ID to the branch name
          branch=$branch-${{ github.run_id }}
          
          # Save the branch name to the environment
          echo "branch=$branch" >> $GITHUB_OUTPUT
          
          # Set the testing and snapshot repository url to the job output
          echo "rpm_repo_testing_url=$RPM_REPO_TESTING_URL/$branch" >> $GITHUB_OUTPUT
          echo "rpm_repo_snapshots_url=$RPM_REPO_SNAPSHOTS_URL/openrouteservice-jws" >> $GITHUB_OUTPUT
          echo "rpm_repo_releases_url=$RPM_REPO_RELEASES_URL/openrouteservice-jws" >> $GITHUB_OUTPUT

      - name: Build the RPM package
        id: rpmbuild
        run: |
          # Define the RPM build directory
          export RPM_BUILD_DIR=$HOME/rpmbuild
          echo "RPM_BUILD_DIR=$RPM_BUILD_DIR"
          # Install RPM
          sudo apt-get install rpm
          # Clean the RPM build directory
          rm -rf $RPM_BUILD_DIR
          # Create the RPM build directory structure from scratch
          mkdir -p $RPM_BUILD_DIR/{BUILD,RPMS,SPECS,SRPMS}
          cp -f ${{ github.workspace }}/ors-api/target/ors.war $RPM_BUILD_DIR/BUILD/
          cp -f ${{ github.workspace }}/.rpm-packaging/example-config.json $RPM_BUILD_DIR/BUILD/
          rpmbuild -bb ${{ github.workspace }}/.rpm-packaging/ors-war.spec
          
          # Save the RPM package name and path as an step output
          export rpm_name=openrouteservice-${{ env.ORS_VERSION }}-jws5-el8-noarch.rpm
          export rpm_path=${{ github.workspace }}/$rpm_name
          echo "RPM_NAME=$rpm_name" >> "$GITHUB_ENV"
          echo "RPM_PATH=$rpm_path" >> "$GITHUB_ENV"
          
          # Copy the RPM package to the workspace
          cp -f $RPM_BUILD_DIR/RPMS/noarch/*.rpm $rpm_path

      - name: Import the GPG key
        uses: MichaelsJP/ghaction-import-gpg@v1.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          fingerprint: ${{ secrets.GPG_FINGERPRINT }}

      - name: Prepare the signing environment
        run: |
          echo "Paste the GPG key fingerprint to the ~/.rpmmacros file"
          cat > ~/.rpmmacros << EOF
          %_signature gpg
          %_gpg_name ${{ secrets.GPG_FINGERPRINT }}
          EOF
          
          echo "List loaded gpg keys in store"
          gpg --list-secret-keys
          echo "Import the public GPG key to rpm"
          gpg --export --armor ${{ secrets.GPG_FINGERPRINT }} > public_key.asc
          rpm --import public_key.asc
          echo "List loaded gpg keys in rpm"
          rpm --query --all | grep --ignore-case gpg
          # Export the key path to the environment
          echo "GPG_KEY_PATH=$(realpath public_key.asc)" >> "$GITHUB_ENV"

      - name: Sign the RPM package
        run: |
          rpm --addsign ${{ env.RPM_PATH }}
          # Print signature details
          rpm --query -pi ${{ env.RPM_PATH }}
          # Verify the signature and fail if it is not valid
          rpm --checksig ${{ env.RPM_PATH }}
          if [ $? -ne 0 ]; then
            echo "RPM signature is not valid"
            exit 1
          fi

      - name: Prepare the RPM testing repository
        run: |
          # Check that the RPM Nexus testing repository exists and fail completely if not.
          .github/utils/check_nexus_repo_exists.sh '${{ secrets.NEXUS_URL }}' '${{ env.RPM_TESTING_REPO_NAME }}' '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' 'true'
          # Clean the testing repository
          .github/utils/clean_nexus_repo_folder.sh '${{ secrets.NEXUS_URL }}' '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' '${{ env.RPM_TESTING_REPO_NAME }}' '${{ env.RPM_REPO_TESTING_FOLDER }}'

      - name: Upload the testing RPM
        run: |
          # Upload the RPM package to the testing repository
          .github/utils/upload_rpm_package.sh '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' '${{ env.RPM_PATH }}' '${{ steps.job_environment_variables.outputs.rpm_repo_testing_url }}/noarch/${{ env.RPM_NAME }}'

      - name: Login to RedHat Container Registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: registry.redhat.io
          username: ${{ secrets.REDHAT_REGISTRY_LOGIN }}
          password: ${{ secrets.REDHAT_REGISTRY_PASSWORD }}

      - name: Build the docker image with podman
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: .rpm-packaging/${{ matrix.docker_file }}
          tags: ${{ env.IMAGE_NAME }}
          build-args: |
            REDHAT_ORG=${{ secrets.REDHAT_ORG }}
            REDHAT_ACTIVATION_KEY_NAME=${{ secrets.REDHAT_ACTIVATION_KEY_NAME }}
          layers: true
#          extra-args:
#            cache-from: type=gha
#            cache-to: type=gha,mode=max

      - name: Prepare the example.repo file
        run: |
          # Replace the baseurl line with the testing repository url
          sed -i "s|baseurl=.*|baseurl=${{ steps.job_environment_variables.outputs.rpm_repo_testing_url }}|g" .rpm-packaging/example.repo

      - name: Run the container with podman
        shell: bash
        run: |
          echo "Waiting for the container to start"
          # Run the pre-build docker image and mount the needed files
          # Mount the elevation file to avoid downloading it
          # Mount the osm pbf file for the graph build
          podman run -it -d -p 8080:8080 --systemd true --name ${{ env.CONTAINER_NAME }} \
            -v $(pwd)/ors-api/src/test/files/elevation/srtm_38_03.gh:/opt/openrouteservice/.elevation-cache/srtm_38_03.gh \
            -v $(pwd)/ors-api/src/test/files/heidelberg.osm.gz:/opt/openrouteservice/files/osm-file.osm.gz  \
            -v $(pwd)/.rpm-packaging/example.repo:/etc/yum.repos.d/ors.repo \
            ${{ env.IMAGE_NAME }}

      - name: Check the pre-install environment
        shell: bash
        run: |
          ##### Check the pre install environment #####
          echo "Checking the pre install environment"
          bash ${{ github.workspace }}/.rpm-packaging/rhel8_pre_install_check.sh

      - name: Wait for the RPM repo to initialize the repodata folder
        shell: bash
        run: |
          ##### Wait for the RPM repomd.xml to be initialized #####
          echo "Waiting for the RPM repomd.xml to be initialized"
          # Do a curl request to the testing repository and wait for 200 response
          .github/utils/url_check.sh '${{ steps.job_environment_variables.outputs.rpm_repo_testing_url }}/repodata/repomd.xml' 200 ${{ env.RPM_REPO_INIT_WAIT_TIME }}

      - name: Install the rpm package
        shell: bash
        run: |
          ##### Import the GPG key #####
          echo "Importing the GPG key inside the container"
          # podman exec -u root ${{ env.CONTAINER_NAME }} rpm --import /tmp/public_key.asc

          ##### Install the rpm package #####
          # Update the yum repository
          podman exec -u root ${{ env.CONTAINER_NAME }} sh -c 'yum update -y'

          echo "Installing the rpm package"
          # Create the missing jws5* rpm packages with fakeprovide
          podman exec -u root ${{ env.CONTAINER_NAME }} fakeprovide jws5-runtime
          podman exec -u root ${{ env.CONTAINER_NAME }} fakeprovide jws5-tomcat
          podman exec -u root ${{ env.CONTAINER_NAME }} fakeprovide jws5-tomcat-native
          podman exec -u root ${{ env.CONTAINER_NAME }} fakeprovide jws5-tomcat-selinux
          # Install the rpm package as root with the fakeprovide packages
          podman exec -u root ${{ env.CONTAINER_NAME }} sh -c 'yum install -y fakeprovide-jws5-* openrouteservice-jws5'
          
          ##### Check the post install environment #####
          echo "Checking the post install environment"
          bash ${{ github.workspace }}/.rpm-packaging/rhel8_post_install_check.sh

      - name: Test the graph building
        shell: bash
        run: |          
          ##### Start the graph building #####
          # Copy the /opt/openrouteservice/config/example-config.json to /opt/openrouteservice/config/ors-config.json
          podman exec -u jboss ${{ env.CONTAINER_NAME }} sh -c 'cp /opt/openrouteservice/config/example-config.json /opt/openrouteservice/config/ors-config.json'
          
          # Restart the container to load the new configuration
          podman restart ${{ env.CONTAINER_NAME }}
          
          # echo "Waiting for the podman container to build graphs and return 200"
          .github/utils/url_check.sh '127.0.0.1:8080/ors/v2/health' 200 ${{ env.HEALTH_WAIT_TIME }}
      - name: Print the container logs for debugging
        if: runner.debug == '1'
        shell: bash
        run: |
          ##### Print the container logs for debugging #####
          echo "Print container logs"
          podman logs ${{ env.CONTAINER_NAME }}

      - name: Uninstall the rpm package
        shell: bash
        run: |
          ##### Check the pre uninstall environment #####
          echo "Checking the pre uninstall environment"
          bash ${{ github.workspace }}/.rpm-packaging/rhel8_pre_uninstall_check.sh

          ##### Uninstall the rpm package #####
          echo "Uninstalling the rpm package"
          podman exec -u root ${{ env.CONTAINER_NAME }} sh -c 'yum remove -y openrouteservice-jws5'
          
          ##### Check the post uninstall environment #####
          echo "Checking the post uninstall environment"
          bash ${{ github.workspace }}/.rpm-packaging/rhel8_post_uninstall_check.sh

      - name: Clean the public GPG key
        run: |
          rm -f ${{ env.GPG_KEY_PATH }}

      - name: Attach RPM package to release
        if: github.event_name == 'release' && github.event.action == 'published'
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ env.RPM_PATH }}
          asset_name: ${{ env.RPM_NAME }}
          asset_content_type: application/x-rpm

      - name: Upload the RPM package to the nexus releases rpm registry
        if: github.event_name == 'release' && github.event.action == 'published'
        run: |
          # Check that the RPM Nexus releases repository exists and fail completely if not.
          .github/utils/check_nexus_repo_exists.sh '${{ secrets.NEXUS_URL }}' '${{ env.RPM_REPO_NAME }}' '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' 'true'
          # Upload the RPM package to the nexus releases rpm registry
          .github/utils/upload_rpm_package.sh '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' '${{ env.RPM_PATH }}' '${{ steps.job_environment_variables.outputs.rpm_repo_releases_url }}/noarch/${{ env.RPM_NAME }}'
          # Do a curl request to the releases repository and wait for the repomd.xml to be initialized to ensure a correct repository
          .github/utils/url_check.sh '${{ steps.job_environment_variables.outputs.rpm_repo_releases_url }}/repodata/repomd.xml' 200 ${{ env.RPM_REPO_INIT_WAIT_TIME }}

      - name: Upload the snapshot RPM package to the nexus snapshots rpm registry
        # Only upload if this is a push on a release/v7.2.* branch
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/releases/v7.2.')
        run: |
          # Check that the RPM Nexus snapshots repository exists and fail completely if not.
          .github/utils/check_nexus_repo_exists.sh '${{ secrets.NEXUS_URL }}' '${{ env.RPM_REPO_NAME }}' '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' 'true'
          # Upload the RPM package to the nexus snapshots rpm registry
          .github/utils/upload_rpm_package.sh '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' '${{ env.RPM_PATH }}' '${{ steps.job_environment_variables.outputs.rpm_repo_snapshots_url }}/noarch/${{ env.RPM_NAME }}'
          # Do a curl request to the releases repository and wait for the repomd.xml to be initialized to ensure a correct repository
          .github/utils/url_check.sh '${{ steps.job_environment_variables.outputs.rpm_repo_snapshots_url }}/repodata/repomd.xml' 200 ${{ env.RPM_REPO_INIT_WAIT_TIME }}

      - name: Clean the testing RPM repository
        run: |
          # Clean the testing repository
          .github/utils/clean_nexus_repo_folder.sh '${{ secrets.NEXUS_URL }}' '${{ secrets.NEXUS_USERNAME }}' '${{ secrets.NEXUS_PASSWORD }}' '${{ env.RPM_REPO_NAME }}' '${{ env.RPM_REPO_TESTING_FOLDER }}/${{ steps.job_environment_variables.outputs.branch }}'